.bio > .container-fluid{
	position: absolute;
}

.bio > .row{
	display: inline-block;
	width: auto;
	height: auto;
	margin-right:7%;
}

.thumbnail {
	background-color: black;
	border-color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.thumbnail .caption {
	color: #fffcfc;
	text-align: justify;
}



.button{
 
  margin-top: 25px;
  background-color: black;
  border-radius: 10px;
   border: 2px solid white;}

   .button:hover{
  background-color: #130091;
  color:;
  border: white 2px solid;
}

