.bio > .container-fluid{
	position: absolute;
}

.bio > .row{
	display: inline-block;
	width: auto;
	height: auto;
	margin-right:7%;
}

.thumbnail {
	background-color: black;
	border-color: black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.thumbnail .caption {
	color: #fffcfc;
	text-align: justify;
}



.button{
 
  margin-top: 25px;
  background-color: black;
  border-radius: 10px;
   border: 2px solid white;}

   .button:hover{
  background-color: #130091;
  color:;
  border: white 2px solid;
}


/*map reponsive*/
.jumbotron h1 {
font-size: 50px;
color: white;
font-family: "Lobster", cursive;
}

.thumbnail p, .jumbotron p{
color: white;
font-family: "Courier", cursive;

}

.jumbotron {
background-color: black;
padding-top: 4px;
padding-bottom: 30px;
margin-bottom: 80px;
box-shadow: 10px 10px 20px white;
}
.map-responsive {
overflow:hidden;
padding-bottom:25%;
position:relative;
height:0;

}

.map-responsive iframe {
left:0%;
top:0;
height:100%;
width:100%;
border-style: solid;
border-color: black;
position:absolute;
}