/* CONTACT*/


.button{
  margin-left:160px;
  margin-top: 25px;
  background-color: black;
  border-radius: 10px;
   border: 2px solid white;
   margin-bottom: 80px;
}

.button:hover{
  background-color: #130091;
  color:;
  border: white 2px solid;
}

h2{
  margin: 40px 0px 25px 100px;
  font-family: "Lobster", cursive;
  color:black;

}


form {
max-width: 400px;
margin: 0 auto;

}


input, textarea {
margin-top: 15px;

} 


/*CONTAINER*/



.container-fluid{
  
  width:100%;
  
  margin-top:-20px;
  

}


/*NAVBAR*/

.navbar-default .navbar-nav > li > a {
  font-size: 30px;
    color: white;
    margin-top: 0px;
    font-family: "Lobster", cursive;
}

.navbar-default .navbar-nav > li > a:hover {
  color:darkorange;
}

.navbar-default{
  background-color: black;
  border-color: transparent;}

.thumbnail > img {
    opacity:1;}


/*GENERAL*/

html { 
  margin:0;
  padding:0;
  background: url(images/photo.jpg) no-repeat center fixed; 
  -webkit-background-size: cover;
  background-size: cover; 
  opacity: 0.7;
  
}

body {  

  position: relative;

  background-color: transparent;
  
}

.text-center{
    background-color:#e0f4fc;
}


/* LOGO*/
.text-center{
  height: 140px;
}


/*FOOTER */

.footitem{
  padding: 5px;
  text-align: center;

}


.icone_reseaux{
  padding:10px;
  display:inline;
}

.icone_reseaux > a > img {
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 0.5s ease; /* Safari et Chrome */
  -moz-transition: all 0.5s ease; /* Firefox */
  -ms-transition: all 0.5s ease; /* Internet Explorer 9 */
  -o-transition: all 0.5s ease; /* Opera */
  transition: all 0.5s ease;
}


.icone_reseaux > a > img:hover {
  /* L'image est grossie de 25% */
  -webkit-transform:scale(1.20); /* Safari et Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* Internet Explorer 9 */
  -o-transform:scale(1.20); /* Opera */
  transform:scale(1.20);
}

footer .row {
  color: white;
}

footer .container-fluid{
  background-color:#333333;

}

footer .row a{
  color: white;
}

footer {
width: 100%;

position: fixed;
  bottom: 0; left: 0; right: 0

