p {
  margin: 1.5em 0;
  color: #888;
}

.nav-pills {
  margin: 30px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: #40E798;
  color : #231651
}

.link-gallery {
color : #231651
}

.nav-pills>li>a {
  border-radius: 34px;
  cursor: pointer;
  width: 142px;
  font-family: 'Special Elite', cursive;
}

.nav-pills>li>a:hover {
  background-color: rgb(177, 248, 215);
  color: #231651;
  
}

.image-gallery {
  max-width: 150px;
  border: 5px solid #231651;
}

.product-gallery {
  padding-top: 15px;
}

.lightbox img {
	max-width: 80%;
	max-height: 70%;
	margin-top: 2%;
}

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 9999;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}

.gallery_product {
  margin-bottom: 30px;
  display: inline-flex;
  margin-left: 50px
}
